{% extends 'core/base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Оформлення замовлення{% endblock %}

{% block content %}
<section class="py-5">

    <h1 class="fw-bolder mb-4 text-center" style="text-decoration: underline;">Оформити замовлення</h1>

    <div class="row">
        <div class="col-6">
             <h1 class="fw-bolder mb-4 text-center" style="margin-top: 3rem; padding-top: 1.5rem;">Місце доставки</h1>
                <div class="container px-1 px-lg-2 mt-5">
                    <div class="row gx-1 gx-lg-1 justify-content-center">
                      <div class="col-lg-10 col-xl-10">
                        <form id="form_1" method="post" action="">
                            {% csrf_token %}
                            {% bootstrap_form address_form %}
                        </form>
                      </div>
                    </div>
                </div>

                <h1 class="fw-bolder mb-4 text-center" style="margin-top: 3rem; padding-top: 1.5rem;">Оплата замовлення</h1>
                <div class="container px-1 px-lg-2 mt-5">
                    <div class="row gx-1 gx-lg-1 justify-content-center">
                      <div class="col-lg-10 col-xl-10">
                        <form id="form_2" method="post" action="">
                            {% csrf_token %}
                            {% bootstrap_form payment_form %}
                        </form>
                      </div>
                    </div>
                </div>


            <div class="container px-1 px-lg-2 mt-5">
                    <div class="row gx-1 gx-lg-1 justify-content-center">
                      <div class="col-lg-10 col-xl-10">
                                          <div class="d-grid gap-2">
                    <button type="submit" id="submit"  class="btn btn-primary">Оплатити</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$('#submit').click(function() {
    $.post('/your-url/', $('#form_1').serialize() + '&' + $('#form_2').serialize(), function(data) {
    });
});
</script>



                </div>
                      </div>
                    </div>
            </div>
        </div>




        <div class="col-6">

            <h1 class="fw-bolder mb-4 text-center" style="margin-top: 3rem; padding-top: 1.5rem;">Корзина</h1>

            <div class="container px-0 px-lg-1 mt-5">
                <div class="row gx-1 gx-lg-2 justify-content-center">

                    <div class="col-lg-10 col-xl-8">
                        <div class="row gy-2">
                             {% for order_item in items %}
                            <div class="col-12">
                        <div class="card h-100">
                      <div class="row g-0">
                          <div class="col-md-4">
                              <a href="{% url 'item:detail' order_item.id %}">
                                  <img class="img-fluid rounded-start" src="{{ order_item.image.url }}" alt="{{ order_item.name }}">
                              </a>
                          </div>
                          <div class="col-md-8">
                              <div class="row">
                                  <div class="col-6 px-2">  <div class="card-body">
                                          <h5 class="card-title">{{ order_item.name }}</h5>
                                          <p class="card-text">ID: {{ order_item.id }}</p>
                                      </div>
                                  </div>
                                  <div class="col-6 px-2">  <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                           <div class="input-group mb-3 d-flex justify-content-center">
                                               <input class="form-control text-center me-3" type="num"
                                                      value="1" style="max-width: 3rem" />
                                           </div>
                                           <p class="card-text">{{ order_item.price }} Грн.</p>
                                       </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
  </div>
</div>


<div class="text-center mt-3 d-flex justify-content-center">
  <a href="#" class="btn btn-primary me-2">Редагувати корзину</a>
  <a href="{% url 'item:detail' 1%}" class="btn btn-secondary">Повернутися до покупок</a>
</div>


        </div>
    </div>
</section>
{% endblock %}